ClassLearning/Temp/
ClassLearning/Logs/
ClassLearning/Library/
ClassLearning/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
ClassLearning/obj/Debug/Assembly-CSharp.csproj.AssemblyReference.cache
